<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados da Pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="pessoa">
    <ion-card-header>
      <img [src]="pessoa.avatar_url" />
    </ion-card-header>

    <ion-card-content>
      <h1>{{pessoa.name}}</h1>
      <!-- <p>{{pessoa.company}} - {{pessoa.bio}}</p> -->
       <p>{{pessoa.bio}}</p> 
    </ion-card-content>
    <!-- <ion-item>
      <ion-badge  *ngFor="let repo of pessoa.repos">
        {{repo}}
      </ion-badge>
    </ion-item> -->
  </ion-card>
</ion-content>
