<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Git </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://avatars.githubusercontent.com/u/18701313?v=4" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Marcio Vieira Ferreira</h1>
            <p>Dev</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>A+</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://avatars.githubusercontent.com/u/18701313?v=4" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Marcio Vieira Ferreira</h1>
            <p>Dev Full Stack</p>
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>A++</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>
