<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let pessoa of listaPessoas">
      <ion-item lines="full" (click)="exibirPessoa(pessoa)" >
        <ion-thumbnail slot="start">
          <img [src]="pessoa.imagem" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{pessoa.nome}}</h1>
            <p>{{pessoa.descricao}}</p>
            <p>idade: {{pessoa.idade}}</p>
            <ion-badge color="light" *ngFor="let item of pessoa.repos"
              >{{item}}</ion-badge
            >
          </div>
        </ion-label>
        <ion-chip color="success" outline>
          <ion-label>{{pessoa.classificacao}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="preto" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
